node_modules
.pnpm-store

.next
out
dist
build
.turbo

*.tsbuildinfo
coverage

.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.DS_Store
*.pem

data/screenshots

infra/private/
infra/docker-compose.prod.yml
infra/*.prod.env
infra/.env.prod
